$breakpoints-up: (
    "desktop": 1025px
);

@mixin breakpoint-up ($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content
    }
};

@mixin background-settings {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flex-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;

}